@charset "UTF-8";

* {
  box-sizing: border-box;
}
/* Links Start */
a:link, a:visited {
    color: aliceblue;
    text-decoration: none;
}
a:hover {
  color: rgb(220, 228, 233);
  text-decoration: underline;
}
/* Links End */

/* Nav Bar Start */
.nav {
    grid-area: nav;
    padding: 10px;
    background-color: #042350;
    color: white;
    font: 1em "Open Sans";
}
/* Nav Bar End */

.nav a {
  padding: 5px;
}

/* Style header start */
.header {
  grid-area: header;
  background-color: #042350;
  color: #F65C02;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}
/* Style header end */

/* Typography Start */
h2 {
  font: 50px "Roboto Slab";
  font-weight: 450;
}
h3 {
  font: 1.2em "Roboto Slab";
}
p {
  font: 16px "Open Sans";

}
/* Typography End */

/* Grid Start */
.grid-container {
  display: grid;
  grid-template-areas: 
    'nav nav nav nav nav nav'
    'header header header header header header' 
    'main main main main main main'
    'left left middle middle right right' 
    'left2 left2 middle2 middle2 right2 right2'
    'footer footer footer footer footer footer';
    grid-column-gap: 10px;
} 
/* Grid End */


/* Styling columns start */
.left,
.middle,
.right,
.left2,
.middle2,
.right2 {
  padding: 10px 40px 20px;
}

.main {
  grid-area: main;
  padding: 10px 40px 10px 40px;
  
}
.left {
  grid-area: left;
}
.middle {
  grid-area: middle;
}

.right {
  grid-area: right;
}

.left2 {
  grid-area: left2;
}
.middle2 {
  grid-area: middle2;
}
.right2 {
  grid-area: right2;
}
/* Styling columns end */

/* Style footer start */
.footer {
  grid-area: footer;
  background-color: #042350;
  padding: 15px 10px 20px;
  text-align: center;
  color: white;
  font: 18px "Open Sans";
}
/* Style footer end */

/* Responsive Layout Start*/
@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
      'nav nav nav nav nav nav'
      'header header header header header header'
      'main main main main main main' 
      'left left left left left left' 
      'middle middle middle middle middle middle' 
      'right right right right right right'
      'left2 left2 left2 left2 left2 left2' 
      'middle2 middle2 middle2 middle2 middle2 middle2' 
      'right2 right2 right2 right2 right2 right2'
      'footer footer footer footer footer footer';
  }
}
/* Responsive Layout End */